/* 
  CSS RESET
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    padding: 0;
}

 
html {
    font-family: Arial, sans-serif;
    font-size: 10px;
    background: #f9f9f9;
}

button {
    cursor: pointer;
}

/*
END CSS RESET
*/

.row {
    display: flex !important;
    flex-direction: row !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-center {
    align-items: center !important;
}

.logo-container img {
    height: 18px !important;
    cursor: pointer !important;
}

.menu-icon {
    padding: 8px !important;
    margin-right: 16px !important;
}

.nav {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background: #fff !important;
    z-index: 2020 !important;
}

.nav-container {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0 16px !important;
    height: 56px !important;
}

.controls {
    display: flex !important;
    align-items: center !important;
}

.control-item {
    padding-right: 8px !important;
    margin-left: 8px !important;
}

.control-item a {
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    letter-spacing: .007px !important;
    text-transform: uppercase !important;
    color: #000 !important;
    opacity: .6 !important;
}

.control-item img {
    padding: 8px !important;
}

.nav-control-item {
    padding-right: 8px !important;
    margin-left: 8px !important;
}

.nav-control-item a {
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    letter-spacing: .007px !important;
    text-transform: uppercase !important;
    color: #000 !important;
    opacity: .6 !important;
}

.nav-control-item img {
    padding: 8px !important;
}

@media screen and (max-width: 483px) {
    .nav-control-item {
        margin: 0 !important;
        padding: 0 !important;
    }

    .nav-notification {
        display: none !important;
    }
}

.responsive-video {
    padding-bottom: 56.25% !important;
    position: relative !important;
    height: 0 !important;
    margin-top: 24px;    
}

.responsive-video iframe, .responsive-video object, .responsive-video embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 32px;    
}

.page-content {
    background: #f9f9f9;
}

#primary {
    max-width: 1280px !important;
    padding: 24px 24px 0 0 !important;
    margin-left: 24px !important;
    display: flex !important;
    flex-direction: column !important;
    flex: 2 !important;
}

@media screen and (max-width: 483px) {
    #primary {
        padding: 0 !important;
        margin: 0 !important;
    }
}

#info-contents {
    border-bottom: 1px solid #e0e0e0 !important;
    padding: 20px 0 8px 0 !important;
}

#info-contents h1 {
    font-weight: 400 !important;
    line-height: 2.4rem !important;
    font-size: 1.8rem !important;
}

#info {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 1.4rem !important;
}

@media screen and (max-width: 483px) {
    #info {
        display: block !important;
    }
}

.info-text {
    opacity: 0.6 !important;
}

#like-bar-container {
    position: absolute !important;
    padding-top: 7px !important;
}

#meta-contents {
    border-bottom: 1px solid #e0e0e0 !important;
    padding-bottom: 16px !important;
    margin-bottom: 24px !important;
}

#uploader-avatar img {
    height: 48px !important;
    width: 48px !important;
    border-radius: 100px !important;
    margin-right: 16px !important;
}

#video-owner {
    display: flex !important;
    flex: 1 !important;
    align-items: center !important;
}

#channel-info {
    display: flex !important;
    flex: 1 !important;
    flex-direction: column !important;
}

#channel-name {
    font-weight: 600 !important;
    font-size: 1.4rem !important;
    line-height: 1.6 !important;
    text-decoration: none !important;
    color: #000 !important;
}

#sub-count {
    font-size: 1.3rem !important;
}

#description-container {
    margin-left: 64px !important;
}

#description {
    font-size: 1.4rem !important;
    line-height: 2.1rem !important;
    max-height: 60px !important;
    overflow: hidden !important;
}

#secondary {
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
    padding: 24px 24px 0 0 !important;
    max-width: 402px !important;
}

.secondary-inner {
    border: solid 1px #e0e0e0 !important;
    background: #ffffff !important;
}

@media screen and (max-width: 1000px) {
    #secondary {
        display: none !important;
    }
}

.sidebar-content {
    font-size: 14px !important;
    line-height: 21px !important;
}

@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none !important;
    }

    div#info-contents {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    div#meta {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    #menu-container {
        margin-top: 20px !important;
    }
}

html {
    margin-top: 0 !important;
}